.button {
  height: 4rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  padding: 5px 10px;
  margin: .5rem;
}

.button:hover {
  opacity: .5;
  cursor: pointer;
}

.button_small {
  width: 4rem;
  color: white;
}

.button_med {
  width: 8rem;
  height: 4rem;
}

.output_text {
  display: inline-block;
  width: 60px;
  text-align: center;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 10px;
}

.add {
  background-color: green;
}

.remove {
  background-color: red;
}

.delete {
  background-color: black;
  color: yellow;
}

.warning {
  background-color: yellow;
  color: black;
}