
.button_small {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  color: white;
  font-size: 2rem;
  margin: .5rem;
  padding: 5px 10px;
}

.button_small:hover {
  opacity: .5;
}

.output_text {
  background-color: blue;
  margin: 5px;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

.add {
  background-color: green;
}

.remove {
  background-color: red;
}

.warning {
  background-color: yellow;
  color: black;
}