
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


*,
*:before,
*:after {
  padding: 0rem;
  margin: 0rem;
  box-sizing: inherit;
}

html {
  font-size: 56.25%;
}

body {
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: 'Montserrat', sans-serif;

}